/*
    Created on : 04/03/2017, 21:41:33
    Author     : Marcelo
*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #f3f3f3;
    overflow-x: hidden;
}

.header h2 {
    margin: 0;
}

main {
    margin-top: 90px;
}

.grid_2 {
    width: 50%;
}

.grid_3 {
    width: 33.3%;
}

[class*=grid_] {
    display: inline-block;
    padding-right: 18px;
}

[class*=grid_]:last-of-type {
    padding-right: 0;
}

.color-primary,
.color-primary:hover,
.color-primary:focus {
    color: #fff;
    background-color: #245580;
}

/* --------- BEGIN PÁGINA DE LOGIN --------- */

.login-page {
    background-color: #245580;
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.login-page .content {
    min-height: calc(100vh);
    display: table-cell;
    vertical-align: middle;
    /*background-color: rgba(0,0,0,0.5);*/
}

.login-box {
    margin: 20px auto 30px auto;
    padding: 10px 25px;
    max-width: 350px;
    border-radius: 5px;
    color: #ccc;
}

.login-box .error {
    margin-bottom: 14px;
    font-size: 15px;
    color: #ffffff;
}

.login-input {
    border-radius: 3px;
    padding: 10px 12px;
    height: 40px;
}

.login-box .login-titulo {
    width: 35%;
    /*float: left;*/
    margin-bottom: 5px;
}

.login-box .login-titulo h4 {
    margin: 15px 0;
    font-size: 24px;
    color: #fff;
}

.login-box .recuperar-senha {
    float: right;
    text-align: right;
    padding: 13px 1px 3px 1px;
}

.login-box .recuperar-senha i {
    margin: 0 5px;
}

.login-box .btn-login {
    text-align: center;
    margin-bottom: 10px;
}

.login-box .btn-login .btn {
    background-color: #6185a5;
    color: #fff;
    font-size: 16px;
    margin: 10px auto 10px auto;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0px;
    height: 42px;
    width: 100%;
}

.login-box a {
    color: #fff;
}

.login-box a .cadastre-se {
    color: #fff;
    margin-left: 5px;
}

/* --------- BEGIN VALIDATION --------- */

label.error {
    color: red;
    font-size: 12px;
    margin-bottom: 0;
}

/* --------- END VALIDATION --------- */

/* --------- END PÁGINA DE LOGIN --------- */

/* --------- BEGIN PÁGINA DE CADASTRO, CONFIRMAÇÃO E RECUPERAR SENHA --------- */

.cadastro-page,
.confirmacao-page,
.recuperar-senha-page {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    color: #245580;
}

.cadastro-page .content,
.confirmacao-page .content,
.recuperar-senha-page .content {
    min-height: calc(100vh);
    display: table-cell;
    vertical-align: middle;
    /*background-color: rgba(0,0,0,0.5);*/
}

.cadastro-page .white-box,
.confirmacao-page .white-box,
.recuperar-senha-page .white-box {
    max-width: 550px;
    margin: 20px auto 10px auto;
    background-color: #fff;
    border-radius: 6px;
    padding: 20px 50px 30px 50px;
    box-shadow: 0px 1px 9px #ccc;
}

.confirmacao-page .white-box {
    padding: 20px 50px 15px 50px;
}

.cadastro-page .cadastro-box h3,
.confirmacao-page .cadastro-page h3,
.recuperar-senha-page .cadastro-page h3 {
    margin-bottom: 20px;
}

@media (max-width: 720px) {
    .cadastro-page .white-box {
        padding: 10px 20px 20px 20px;
    }

    .confirmacao-page .white-box,
    .recuperar-senha-page .white-box {
        padding: 10px 20px 10px 20px;
    }
}

.cadastro-page input,
.cadastro-page select {
    border-radius: 3px;
    height: 40px
}

.cadastro-page .btn-cadastro .btn {
    display: block;
    width: 100%;
    color: #fff;
    background-color: #245580;
    font-weight: 600;
    margin-top: 30px;
    border-radius: 0;
    padding: 8px 0;
}

.cadastro-page .faca-login {
    margin-top: 10px;
    text-align: center;
    color: #4d7198;
}

.confirmacao-page .btn {
    margin: 10px 0;
}

/* --------- END PÁGINA DE CADASTRO, CONFIRMAÇÃO E RECUPERAR SENHA --------- */

/* --------- BEGIN INPUTS --------- */

.input-icon > input {
    width: 100%;
    padding: 0px 0px;
    margin: 0px 0px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-indent: 55px;
}

.input-icon > i {
    position: absolute;
    padding: 8px 0px;
    max-width: 45px;
    min-width: 45px;
    border: 1px solid #ccc;
    margin: 0px;
    background-color: #e8e8e8;
    text-align: center;
    color: #3673a9;
    font-size: 16px;
}

.float-label {
    position: relative;
    margin: 15px 0 5px 0;
}

.float-label input ~ .plc,
.float-label textarea ~ .plc {
    pointer-events: none;
    position: absolute;
    color: #b9b9b9;
    top: 10px;
    left: 10px;
    font-weight: 400;
    font-size: 14px;
    transition: all 100ms linear;
    background-color: #fff;
    padding: 0 3px;
    border-radius: 3px;
}

.float-label input:focus ~ .plc,
.float-label input.active ~ .plc,
.float-label textarea:focus ~ .plc,
.float-label textarea.active ~ .plc {
    font-size: 11px;
    top: -6px;
    color: #2aabd2;
}

.float-label input:focus ~ .plc,
.float-label textarea:focus ~ .plc {
    color: #2aabd2;
}

.float-label.has-error input ~ .plc,
.float-label.has-error textarea ~ .plc {
    color: red;
}

.float-label ~ .error {
    color: red;
    font-size: 11px;
}

.has-error .form-control {
    border-color: red;
}

.toggle-switch {
    height: 40px;
    margin-bottom: 15px;
    padding: 4px;
    background: #245580;
    border-radius: 2px;
}

.toggle-switch-input {
    display: none;
}

.toggle-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(black, .2);
    cursor: pointer;

}

.toggle-switch-input:checked + .toggle-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(white, .5);
    background: white;
    border-radius: 2px;
}

/* --------- END INPUTS --------- */

.warning {
    background-color: #FCF8E3;
    padding: 15px 10px;
    margin: 15px 0;
    color: #aa983f;
    line-height: 16px;
    border-radius: 5px;
}

/* ----------- BEGIN MENU -----------*/

.navbar,
.navbar-inverse {
    background-color: #245580;
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ccc;
}

@media screen and (max-width: 768px) {
    .side-collapse-container {
        width: 100%;
        position: relative;
        left: 0;
        transition: left .4s;
    }

    .side-collapse-container.out {
        left: 200px;
    }

    .side-collapse {
        top: 50px;
        bottom: 0;
        left: 0;
        width: 200px;
        position: fixed;
        overflow: hidden;
        transition: width .4s;
    }

    .side-collapse.in {
        width: 0;
    }
}

/* ----------- END MENU -----------*/

/* ----------- BEGIN PROFILE -----------*/

.profile {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.profile-picture {
    position: relative;
    margin: 10px auto;
    text-align: center;
    width: 140px;
}

.profile-picture img {
    width: 140px;
    margin: 10px auto;
    padding: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-image: initial;
    border-radius: 50%;
}

.profile h1 {
    font-size: 18px;
    text-align: center;
}

.profile .contact-info {
    list-style: none;
    margin-top: 15px;
    border-top: 1px solid #080808;
    padding-left: 0;
    padding-top: 10px;
}

.profile .contact-info li {
    margin: 10px 0;
    font-size: 12px;
}

.profile .contact-info i {
    width: 25px;
    font-size: 14px;
    text-align: left;
}

.profile .edit-profile-btn {
    margin: 5px auto;
    border-radius: 16px;
    padding: 6px 16px;
    border: none;
}

.profile .btn-edit-picture {
    position: absolute;
    bottom: 7px;
    right: 20px;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 11px;
}

.dropzone {
    width: 100%;
    height: 150px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
}

.dropzone:hover {
    background-color: #ededed;
}

.dropzone p {
    margin: 0;
    font-size: 18px;
}

.uploaded-picture {
    display: inline-block;
    position: relative;
    margin: 0 auto;
}

.uploaded-picture img {
    cursor: pointer;
    border: 1px solid #000;
}

.uploaded-picture .delete-picture {
    position: absolute;
    font-size: 24px;
    top: 0px;
    right: 5px;
    cursor: pointer;
    padding: 0px;
    margin: 0;
}

.btn-update-picture {
    display: block;
    border-radius: 16px;
    margin: 15px auto 0;
}

/* ----------- END PROFILE -----------*/

/* ----------- BEGIN EDIT PROFILE -----------*/

.edit-profile {
    padding: 20px;
    background-color: #fff;
}

.edit-profile h2 {
    font-size: 18px;
}

/* ----------- END EDIT PROFILE -----------*/